@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  padding: 0;
  margin: 0;
  font-family: poppins;
  color: white;
}

nav {
  background-image: linear-gradient(to bottom, #3d83c0 20%, #467dad 80%);
  /* background-repeat: repeat-x; */
  border-color: #245580;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav p{
  font-weight: bold;
  text-align: center;
  color: white;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-section {
  width: 80%;
}

.ques-progress {
  width: 20%;
}

.wrapper-div{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0.2rem;
}

.button-div{
  margin: 0.2rem;
}

.clr-btn-all-secs{
  border-radius: 0.2rem;
  padding: 0.2rem 1.5rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to bottom, #004683 20%, #004888 80%);
  /* background-repeat: repeat-x; */
  border-color: #245580;
}

.clr-btn-all {
  border-radius: 0.2rem;
  padding: 0.2rem 1.5rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to bottom, #3d83c0 20%, #467dad 80%);
  /* background-repeat: repeat-x; */
  border-color: #245580;  
}

p{
  color: black;
}

.sub-ques {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.qno1-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #3d83c0 20%, #467dad 80%);
  /* background-repeat: repeat-x; */
  border-color: #245580;
  padding: 0.3rem 0.4rem;
}

.qno1-div div {
  color: white;
}

.qno1-div label {
  color: white;
}

.qno1-div select ,option{
  color: black;
}

.ques-inst {
  padding: 0.5rem;
  width: 50%;
}

.ques-inst .question-p{
  color: blue;
  font-size: 0.8rem;
  font-weight: bold;
}

.ques-set .question-p{
  color: blue;
  font-size: 0.8rem;
  font-weight: bold;
}

.ques-set {
  border-left: 1px solid black;
  padding: 0.5rem;
  width: 50%;
}

.question-p{
  border-bottom: 1px solid black;
}

.question-wrapper-div{
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.option-view label{
  color: black;
  padding-left: 1rem;
}

.option-view input {
}

.option-view-wrapper{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-top: 1px solid black;
}

.image-pp Image{
  padding-left: 0;
  margin: 0;
}

.image-and-time{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(186, 232, 237);
  /* padding: 1rem; */
  border: 1px solid black;
  border-radius: 0.2rem;
  padding-bottom: 1rem;
  color: black;
}

.image-and-time p, div, h1 {
  color: black;
}

.time-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-left p{
  font-weight: bold;
}

.name-participant{
  font-weight: bold;
}

.time-para {
  padding-left: 1rem;
}

.time-and-name{
  padding-left: 1rem;
}

.ques-pallete{
  margin-top: 1rem;
  background: rgb(186, 232, 237);
  border-radius: 0.2rem;
  height: 20rem;
  border: 1px solid black;
}

.pallete-para {
  background-image: linear-gradient(to bottom, #3d83c0 20%, #467dad 80%);
  /* background-repeat: repeat-x; */
  border-color: #245580;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pallete-para p{
  color: white;
}

.ques-nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.ques-nav div{
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.one, .three, .seven, .four{
  background: green;
}

.two, .five {
  background: red;
}

.six {
  background: yellow;
}

.eight{
  background: white;
}

.nine{
  background: violet;
}

.ten{
  background: grey;
}

.legend {
  border: 1px solid black;
  margin-top: 1rem;
  background: rgb(186, 232, 237);
}

.answer-stats{
  display: grid;
  grid-template-columns: auto auto;  
  /* background: white; */
}

.answer-stats div{
  text-align: center;
  margin: 0.05rem;
}

.given{
  background: green;
}

.no{
  background: red;
}

.revans{
  background: violet;
}

.revminusans{
  background: yellow;
}

.dump{
  background: gray;
}

.novis{
  background: white;
}

.profinst-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  /* text-align: center; */
  margin-top: 1rem;
  border-top: 1px white solid;
  padding-top: 0.5rem;
}

.profinst-wrapper div{
  margin: 0.5rem;
  background-image: linear-gradient(to bottom, #3d83c0 20%, #467dad 80%);
  border-color: #245580;
  border-radius: 0.3rem;
  text-align: center;
  color: white;
  padding: 0.2rem 0;
}

.op-btns{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0.5rem 0;
}

.op-btns div{
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
  padding: 0 1rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.footer{
  background-image: linear-gradient(to bottom, #7b7b7b 20%, #939393 80%);
  padding: 0.2rem 0;
}

.footer p{
  color: white;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 800px) {

  .wrapper-div{
    display: grid;
    grid-template-columns: auto auto;
  }
  .op-btns{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .op-btns div{
    margin: 0.2rem;
    font-size: 0.8rem;
  }
  .sub-ques{
    display: block;
  }

  .sub-ques div{
    width: 100%;
  }
  .question-section{
    width: 100%;
  }
  .ques-progress{
    width: 100%;
  }
  .main-section{
    display: block;
  }

  .questionss-img {
    width: 100%;
  }

  .image-and-time {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 900px){
}
